
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14% 4%;
    --foreground: 0 0% 100%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 100%;
    --primary: 205 48% 71%;
    --primary-foreground: 210 40% 10%;
    --secondary: 13 81% 49%;
    --secondary-foreground: 0 0% 100%;
    --muted: 24 10% 10%;
    --muted-foreground: 210 40% 90%;
    --accent: 205 48% 71%;
    --accent-foreground: 210 40% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 24 10% 15%;
    --input: 24 10% 15%;
    --ring: 205 48% 71%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 100%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 100%;
    --primary: 205 48% 71%;
    --primary-foreground: 210 40% 10%;
    --secondary: 13 81% 49%;
    --secondary-foreground: 0 0% 100%;
    --muted: 24 10% 10%;
    --muted-foreground: 210 40% 90%;
    --accent: 205 48% 71%;
    --accent-foreground: 210 40% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 24 10% 15%;
    --input: 24 10% 15%;
    --ring: 205 48% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
